*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$text-color: #353535;

body {
  font-family: 'Roboto', sans-serif;
}

header {

    display: flex;
    width: 100%;
    height: 63px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    position: relative;
    
    img {
        height: 36px;
    }

    .fleche-retour {
        position: absolute;
        left: 17px;
        top: 17px;
        height: 30px;
        width: 30px;
        display: none;
    }
}

.location {
    width: 100%;
    height: 50px;
    color: $text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    box-shadow: 0px 4px 4px 0px #00000040;

    .pin-icon {
        height: 16px;
        width: 12px;
        color: $text-color;
        margin-right: 17px;
    }
}

.accueil {

    &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            margin-top: 39px;
            text-align:center;
            width: 275px;
            height: 68px;
            font-size: 24px;
            font-weight: 700;
        }

        h2 {
            text-align: center;
            width: 315px;
            font-size: 18px;
            font-weight: 300;
            color: $text-color;
        }
    }

    &__btn {
        color: #FFFFFF;
        text-align: center;
        line-height: 50px;
        text-decoration: none;
        margin: 27px auto 57px;
        width: 218px;
        height: 50px;
        font-size: 16px;
        font-weight: 500;
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        border-radius: 25px;
    }
}