*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

header {
  display: flex;
  width: 100%;
  padding: 1em 0;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  position: relative;
}
header img {
  height: 36px;
}
header .fleche-retour {
  position: absolute;
  left: 17px;
  top: 17px;
  height: 30px;
  width: 30px;
  display: inline-block;
}

.location {
  width: 100%;
  padding: 1em 0;
  color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.location .pin-icon {
  height: 16px;
  width: 12px;
  color: #353535;
  margin-right: 17px;
}

.accueil {
  background: #F6F6F6;
}
.accueil__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accueil__text-container h1 {
  margin-top: 39px;
  text-align: center;
  padding: 0 50px 20px;
  font-size: 24px;
  font-weight: 700;
}
.accueil__text-container h2 {
  text-align: center;
  padding: 0 1.5em;
  font-size: 1.125em;
  font-weight: 300;
  color: #353535;
}
.accueil__btn {
  color: #FFFFFF;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  margin: 27px auto 57px;
  padding: 0 1.2em;
  font-size: 1em;
  font-weight: 500;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
}

.fonctionnement {
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 3rem 0;
}
.fonctionnement__text-container {
  width: 90%;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.fonctionnement__text-container h3 {
  width: 90%;
  text-align: left;
  font-weight: 700;
  font-size: 1.5em;
  margin: 0 auto 26px;
}
.fonctionnement__menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.fonctionnement__menu li {
  width: 100%;
  height: 72.38px;
  max-width: 335px;
  border-radius: 20px;
  list-style-type: none;
  margin-bottom: 25px;
  position: relative;
}
.fonctionnement__menu__number {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background-color: #9356DC;
}
.fonctionnement__menu button {
  position: relative;
  font-size: 1em;
  font-weight: 500;
  margin-left: 12.51px;
  padding: 1.75em;
  width: 100%;
  max-width: 322.49px;
  border: none;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.fonctionnement__menu button i {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  color: #7E7E7E;
}
@media (min-width: 375px) {
  .fonctionnement__menu {
    flex-direction: row;
    justify-content: space-between;
  }
}

.restaurants {
  padding: 3em 1.5em;
  background: #F6F6F6;
}
.restaurants .restaurant__text-container {
  max-width: 1080px;
  margin: 0 auto;
}
.restaurants h3 {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 26px;
}
.restaurants__list {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.restaurants__list__first_line__lien_menu, .restaurants__list__second_line__lien_menu {
  width: 100%;
  text-decoration: none;
  color: #353535;
}
@media (min-width: 375px) {
  .restaurants__list__first_line, .restaurants__list__second_line {
    display: flex;
    gap: 9%;
  }
}
.restaurants__card {
  position: relative;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  border-radius: 15px;
  background-color: #FFFFFF;
  margin-bottom: 1em;
}
.restaurants__card .new {
  display: inline-block;
  color: #FFFFFF;
  background-color: #99E2D0;
  width: 80px;
  height: 30px;
  position: absolute;
  top: 13px;
  right: 12px;
  text-align: center;
  line-height: 30px;
}
.restaurants__card img {
  max-height: 231px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants__card__bottom {
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
}
.restaurants__card__bottom h4 {
  font-size: 1.125em;
  font-weight: 700;
  padding-top: 1em;
  padding-bottom: 0.3em;
}
.restaurants__card__bottom p {
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 1em;
}
.restaurants__card__bottom button {
  width: 22px;
  height: 21px;
  margin-right: 1em;
  margin-top: 2em;
  border: none;
  background: transparent;
}
.restaurants__card__bottom img {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.restaurants__details_menu {
  background-color: #F3F3F3;
}
.restaurants__details_menu img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants__details_menu h1 {
  padding-top: 1.75em;
  font-size: 1.75em;
  font-weight: 400;
  font-style: oblique;
  color: #101010;
  display: flex;
  justify-content: center;
}
.restaurants__details_menu li {
  list-style-type: none;
}
.restaurants__details_menu__separateur {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}

main {
  background-color: #F6F6F6;
}

.restaurant {
  padding: 3em 1em 0em 1em;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #F6F6F6;
  max-width: 1055px;
  margin: 0 auto;
  position: relative;
  top: -40px;
  height: calc(100% - 40px);
}
.restaurant__titre-menu {
  width: 90%;
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-align: left;
  color: #101010;
}
.restaurant__imgage {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant menu li {
  list-style-type: none;
  margin-bottom: 0.5em;
}
.restaurant__titre {
  align-items: center;
  padding-top: 1em;
  font-weight: 300;
}
.restaurant__separateur {
  border: 3px solid #99E2D0;
  margin-bottom: 1em;
  width: 40px;
}
.restaurant__btn {
  padding: 0;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
}
.restaurant__btn:active .check {
  transform: translateX(0px);
  width: 60px;
}
.restaurant__btn__text-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: left;
}
.restaurant__btn__plate {
  display: flex;
  flex-direction: column;
  padding-left: 0.5em;
}
.restaurant__btn__plate h3 {
  font-size: 1.125em;
}
.restaurant__btn__plate h4 {
  font-weight: 300;
  font-size: 1em;
}
.restaurant__btn__price {
  padding-right: 1em;
  display: flex;
  align-items: end;
}
.restaurant__btn .check {
  background-color: #99E2D0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  height: 70px;
  transform: translateX(100%);
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 0 15px 15px 0;
}
.restaurant__commander {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em 0.5em 1em;
}
.restaurant__commander__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  height: 50px;
  padding: 0.5em 3em;
  font-size: 1em;
  font-weight: 500;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 9999px;
}

footer {
  background: #353535;
  padding: 22px 25px;
  color: #FFFFFF;
}
footer a {
  display: flex;
  justify-content: left;
  align-items: center;
}
footer .text_container {
  display: flex;
  flex-direction: column;
}
footer menu {
  padding-top: 1em;
  list-style-type: none;
}
@media (min-width: 375px) {
  footer menu li {
    padding: 0 1em;
  }
}
footer menu li a {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #FFFFFF;
  font-size: 1em;
  padding-bottom: 7px;
  text-decoration: none;
}
footer menu li a i {
  margin-right: 1em;
  width: 12px;
}
@media (min-width: 375px) {
  footer menu li a {
    flex-direction: row-reverse;
    align-items: center;
  }
}
@media screen and (min-width: 375px) {
  footer menu {
    display: flex;
    flex-direction: row;
    padding-top: 0;
  }
}
@media screen and (min-width: 375px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    padding-right: 1.5em;
  }
}/*# sourceMappingURL=style.css.map */