*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  width: 100%;
  padding: 1em 0;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  position: relative;
}
header img {
  height: 36px;
}
header .fleche-retour {
  position: absolute;
  left: 17px;
  top: 17px;
  height: 30px;
  width: 30px;
  display: none;
}

.location {
  width: 100%;
  padding: 1em 0;
  color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.location .pin-icon {
  height: 16px;
  width: 12px;
  color: #353535;
  margin-right: 17px;
}

.accueil__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accueil__text-container h1 {
  margin-top: 39px;
  text-align: center;
  padding: 0 50px 20px;
  font-size: 24px;
  font-weight: 700;
}
.accueil__text-container h2 {
  text-align: center;
  padding: 0 1.5em;
  font-size: 1.125em;
  font-weight: 300;
  color: #353535;
}
.accueil__btn {
  color: #FFFFFF;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  margin: 27px auto 57px;
  padding: 0 1.2em;
  font-size: 1em;
  font-weight: 500;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
}

.fonctionnement {
  background-color: #FFFFFF;
  padding: 20px;
}
.fonctionnement__text-container {
  display: flex;
  flex-direction: column;
}
.fonctionnement__text-container h3 {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 26px;
}
.fonctionnement__menu li {
  width: 335px;
  height: 72.38px;
  border-radius: 20px;
  list-style-type: none;
  margin-bottom: 25px;
  position: relative;
}
.fonctionnement__menu__number {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background-color: #9356DC;
}
.fonctionnement__menu button {
  position: relative;
  font-size: 1em;
  font-weight: 500;
  margin-left: 12.51px;
  padding: 1.75em;
  width: 100%;
  max-width: 322.49px;
  border: none;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.fonctionnement__menu button i {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  color: #7E7E7E;
}

.restaurants {
  padding: 20px;
}
.restaurants h3 {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 26px;
}
.restaurants__list {
  display: flex;
  flex-direction: column;
}
.restaurants__card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
}
.restaurants__card .new {
  color: #FFFFFF;
  background-color: #99E2D0;
  width: 80px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.restaurants__card img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants__card__bottom h4 {
  font-size: 1.125em;
  font-weight: 700;
  padding-top: 1em;
}
.restaurants__card__bottom p {
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 1em;
}

/*# sourceMappingURL=style.css.map */
